<!DOCTYPE html>
<html lang="en">
<head>
  <title>축구선수 이적료 예측</title>
  <link rel="icon" type="image/x-icon" href="./icon/money-transfer.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<div class="jumbotron text-center">
  <h1> test page </h1>
  <p>Let's predict FIFA soccer player's valuation!</p> 
</div>



<div class="container">
  <h2>축구 선수 몸값 예측 시스템</h2>
  <form method="GET" action="/valuation">
    <div class="form-group">
      <label for="reputation">reputation:</label>
      <input type="text" class="form-control" id="reputation" placeholder="Enter reputation: (ex. 5.0)" name="reputation">
    </div>

    <div class="form-group">
        <label for="stat_overall">stat_overall:</label>
        <input type="text" class="form-control" id="stat_overall" placeholder="Enter stat_overall (ex. 78)" name="stat_overall">
    </div>


    <div class="form-group">
      <label for="stat_potential">stat_potential:</label>
      <input type="text" class="form-control" id="stat_potential" placeholder="Enter stat_potential (ex. 77)" name="stat_potential">
    </div>

    <div class="form-group">
      <label for="age">age:</label>
      <input type="text" class="form-control" id="age" placeholder="Enter age (ex. 18)" name="age">
    </div>

    <div class="form-group">
      <label for="stat_skill_moves">stat_skill_moves:</label>
      <input type="text" class="form-control" id="stat_skill_moves" placeholder="Enter stat_skill_moves (ex. 2.0)" name="stat_skill_moves">
    </div>

    <div class="form-group">
      <label for="remaining_contract_years">remaining_contract_years:</label>
      <input type="text" class="form-control" id="remaining_contract_years" placeholder="Enter remaining_contract_years (ex. 3)" name="remaining_contract_years">
    </div>

    <p>prefer foot: </p>
    <div class="form-group">
      <input type="radio" id="left" name="prefer_foot" value="left">
      <label for="left">left</label><br>
      <input type="radio" id="right" name="prefer_foot" value="right">
      <label for="right">right</label><br>
    </div>

    <p> continent:</p>

    <div class="form-group">
      <input type="radio" id="africa" name="continent" value="africa">
      <label for="africa">africa</label><br>
      <input type="radio" id="asia" name="continent" value="asia">
      <label for="asia">asia</label><br>
      <input type="radio" id="europe" name="continent" value="europe">
      <label for="europe">europe</label><br>
      <input type="radio" id="oceania" name="continent" value="oceania">
      <label for="oceania">oceania</label><br>
      <input type="radio" id="south_america" name="continent" value="south_america">
      <label for="south_america">south_america</label><br>
    </div>

    <p> position: </p>

    <div class="form-group">
      <input type="radio" id="DF" name="position" value="DF">
      <label for="DF">DF</label><br>
      <input type="radio" id="GK" name="position" value="GK">
      <label for="GK">GK</label><br>
      <input type="radio" id="MF" name="position" value="MF">
      <label for="MF">MF</label><br>
      <input type="radio" id="ST" name="position" value="ST">
      <label for="ST">ST</label><br>
    </div>











    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <button type="button" class="btn btn-success">{{ Output }}</button>
</div>

</body>
</html>